.App {
  text-align: center;
  background-color: #6ae0eb;
  align-items: center;
}

.App-header {
  background-color: #e5fafc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: brown;
}

.App-link {
  color: #61dafb;
}

:root {
  --mainDark: #343a40;
}


